.Card {
  background-color: rgb(255, 255, 255);
  color: grey;
  border-radius: 20px;
  margin: 3vh 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.384);
  width: fit-content;
  padding: 2vh 3vw;
  min-height: fit-content;
  transition-property: all;
  transition-duration: 2s;
}
